:root {
  --title-color: #095BEB;
  --text-color: #7A7A7A2B;
}

body {
  margin: 10;
}

.header-container {
  font-family: "Inter", Sans-serif;
  background-color: #FFFFFF;
  color: var(--title-color);
  border-style: solid;
  border-color: var(--text-color);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
  text-align: center;
  text-transform: uppercase;
}

.list-books-main-container{
  border-style: solid;
  border-color: var(--text-color);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
  padding: 20px;
}

.list-books-element{
  border-bottom: 1px solid #E0EAF5;
  margin: 10
}

.list-books-title-btn{
  padding: 10;
  cursor: pointer;
  color: white;
  margin: 10px;
  background: var(--title-color);
  border: none;
  padding: 4px 22px;
  border-radius: 5px;

}

.book-container{
  display: flex;
  justify-content: space-between;
  color: black
}
.book-container:hover{
  background-color: lightblue;
}

.book-name{
  text-decoration: none !important;
}

.list-books-header-container{
  display: flex;
  justify-content: space-between;
}

.list-books-btn{
  background: var(--title-color);
  color: white;
  border: none;
  padding: 4px 22px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.list-book-container{
  border-style: solid;
  border-color: var(--text-color);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
  padding: 20px;
}

.list-books-title-filter{
  display: flex;
  flex-direction: column;
}

.book-info-container{
  margin-top: 30px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--title-color);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}