:root {
  --title-color: #095BEB;
  --text-color: #7A7A7A2B;

}

body {
  margin: 10;
}

.header-container {
  font-family: "Inter", Sans-serif;
  background-color: #FFFFFF;
  color: var(--title-color);
  border-style: solid;
  border-color: var(--text-color);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
  text-align: center;
  text-transform: uppercase;
}

.list-books-main-container{
  border-style: solid;
  border-color: var(--text-color);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
  padding: 20px;
}

.list-books-element{
  border-bottom: 1px solid #E0EAF5;
  margin: 10
}

.list-books-title-btn{
  padding: 10;
  cursor: pointer;
  color: var(--title-color);
  margin-top: 10px;
}

.book-container{
  display: flex;
  justify-content: space-between;
  color: black
}
.book-container:hover{
  background-color: beige;
}

.book-name{
  text-decoration: none !important;
}

.list-books-header-container{
  display: flex;
  justify-content: space-between;
}

.list-book-container{
  border-style: solid;
  border-color: var(--text-color);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
  padding: 20px;
}

.list-books-title-filter{
  display: flex;
  flex-direction: column;
}
.book-info-container{
  margin-top: 30px;
}
